DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?sslmode=disable

# -- JWT secret for
JWT_AUTH_SECRET=jdgkdgDGJUDGJSDGjSDGJjsdg

# -- Base App URL
APP_URL=http://localhost:3001

# -- Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=